@using TestArena.Layout

<header class="bg-dark text-white p-3 d-flex align-items-center">
    <div class="container-fluid">
        <div class="container-fluid">
            <div class="row align-items-center">
                <!-- Logo on the left -->
                <div class="col-12 col-md-4 d-flex justify-content-md-start justify-content-center">
                    <a class="btn text-white d-flex align-items-center" href="/">
                        <img src="/images/shared/logo.png" alt="Logo" class="me-2 mg-fluid rounded" style="height: 2rem;">
                        <h3 class="m-0">Dev Arena</h3>
                    </a>
                </div>

                <!-- Search bar in the center -->
                <HeaderSearchBar />

                <!-- Settings button on the right -->
                <div class="col-12 col-md-4 d-flex justify-content-md-end justify-content-center mt-2 mt-md-0">
                    <button disabled class="btn btn-light">Settings</button>
                </div>
            </div>
        </div>
    </div>
</header>