@inherits LayoutComponentBase
<div class="page">
    @* <div class="sidebar">
        <NavMenu/>
    </div> *@

    <main>
        <header class="bg-primary text-white p-3 d-flex align-items-center">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-md-4">
                        <div class="logo">
                            <h3 class="m-0">Dev Arena</h3>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="search-bar text-center">
                            <input type="text" class="form-control w-75 mx-auto" placeholder="Search...">
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="settings d-flex justify-content-end">
                            <button class="btn btn-light">Settings</button>
                        </div>
                    </div>
                </div>
            </div>
            
        </header>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>