@page "/blog/contract-testing-pact-net-intro"
@using TestArena.Blog.Common

<BlogContainer>
    <Header Title="Intro to PACT for .NET Core: API contract testing"
            Image="/images/blog/pact/intro/header_landscape.png"/>
    <Summary/>
    <BuildStepDetection />
    <HowToSteps />
    
    <Section Heading="Consumer side tests:">
        <ChildContent>
            <p>The very first step is to create a unit test file and initialize pact builder as shown below</p>
            <GithubGistSnippet Title="Pact Builder Setup" UserId="ajaysskumar" FileName="c45d40c48ea2a3e2c81719e41df6f882"/>
        </ChildContent>
    </Section>
    
</BlogContainer>