@page "/internal-showcase"
@using TestArena.Blog.Common

<BlogContainer>
    <h1>Showcase</h1>
    <p>Welcome to the Blazor Showcase!</p>

    <h3>CalloutBox</h3>
    <CalloutBox>
        This is a simple callout box to demonstrate the use of the <code>CalloutBox</code> component.
    </CalloutBox>

    <CalloutBox Type="note" Title="Note">
        This is a simple callout box to demonstrate the use of the <code>CalloutBox</code> component.
    </CalloutBox>
</BlogContainer>