@page "/about-author"
<div class="container mt-5">
    <div class="row text-center mb-4">
        <div class="col">
            <img src="images/shared/author.jpg" alt="Ajay Kumar" class="img-fluid rounded-circle" style="width: 150px; height: 150px;">
            <p class="lead">.NET || Azure/AWS || IoT || Cross Platform Apps</p>
            <p>Delhi, India</p>
            <p>
                <a href="mailto:ajay.a338@gmail.com" class="text-decoration-none">ajay.a338@gmail.com</a> 
            </p>
            <p>
                <a href="https://www.linkedin.com/in/ajaykumar1807" target="_blank" class="btn btn-primary btn-sm">LinkedIn Profile</a>
            </p>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col">
            <h3 class="text-primary">Summary</h3>
            <p>Passionate about crafting innovative solutions that drive business success, I bring extensive experience as a Senior Software Development Consultant. Specializing in .NET Core and its associated technology stack, I excel in architecting robust and scalable systems that meet the dynamic needs of modern businesses.</p>
            <p>My proficiency extends to leveraging the power of Azure and AWS cloud platforms to develop resilient and highly available applications. With a strong background in cross-platform mobile app development using Xamarin and Ionic, I ensure seamless user experiences across diverse devices and platforms.</p>
            <p>My UI skills, grounded in React, enable me to create intuitive and visually appealing interfaces that enhance user engagement and satisfaction. I have a deep understanding of microservices architecture, enabling me to design modular and maintainable systems that can evolve with changing business requirements.</p>
            <p>Committed to delivering top-notch quality, I adhere to Test-Driven Development (TDD) practices, ensuring code integrity and reliability throughout the development lifecycle.</p>
    </div>
</div>