@using System.ComponentModel.DataAnnotations

@code {
    [Required] [Parameter] public string ImagePath { get; set; }
    [Required] [Parameter] public string Description { get; set; }
    [Parameter] public int Number { get; set; }

    private string ImageDescription => Number > 0 ? $"<strong>{Number}</strong>: {Description}" : Description;
}

<style>
    .image-header {
        margin: 0 auto; /* Centers the div */
        text-align: center;
    }
    
    .article-image {
        max-width: 500px;
        height: auto;
        border-radius: 10px;
    }
    figcaption {
        font-style: italic;
        padding: 2px;
        text-align: center;
    }

    .figure-caption {
        font-size: 0.9rem; /* Adjust caption size */
        color: #6c757d; /* Muted text color */
        text-align: center; /* Center align */
        margin-top: 8px; /* Space between image and caption */
        font-weight: 500; /* Slightly bold for readability */
    }

    .figure-caption strong {
        color: #343a40; /* Darker color for image number */
        font-weight: 600; /* Make image number bold */
    }
</style>

<div class="row image-header">
    <figure class="text-center">
        <img src="@ImagePath" class="img-fluid rounded mx-auto d-block my-3 border border-2 border-success" width="800" alt="@Description">
        <figcaption class="figure-caption">
            <strong>Figure @(Number > 0 ? Number.ToString() : string.Empty) :</strong> @Description
        </figcaption>
    </figure>
</div>
