@using System.ComponentModel.DataAnnotations

@code {
    [Required] [Parameter] public string ImagePath { get; set; }
    [Required] [Parameter] public string Description { get; set; }
    [Parameter] public int Number { get; set; }

    private string ImageDescription => Number > 0 ? $"{Number}: {Description}" : Description;
}

<style>
    .image-header {
        margin: 0 auto; /* Centers the div */
        text-align: center;
    }
    
    .article-image {
        max-width: 500px;
        height: auto;
        border-radius: 10px;
    }
    figcaption {
        font-style: italic;
        padding: 2px;
        text-align: center;
    }
</style>

<div class="row image-header">
    <figure class="col-md-12">
        <img class="article-image" src="@ImagePath" width="500" height="auto" alt="@Description"/>
        <figcaption>@ImageDescription</figcaption>
    </figure>
</div>
