@using System.ComponentModel.DataAnnotations

@code {
    [Required] [Parameter] public string ImagePath { get; set; } = "#";
    [Required] [Parameter] public string Description { get; set; } = "NA";
    [Parameter] public int Number { get; set; }

    private bool IsMagnified { get; set; } = false;

    private void ToggleMagnify()
    {
        IsMagnified = !IsMagnified;
    }

    private string CursorClass => IsMagnified ? "cursor-de-magnify" : "cursor-magnify";
    private string ImageClass => IsMagnified ? "magnified" : "blog-support-image";
}

<style>
    .image-header {
        margin: 0 auto; /* Centers the div */
        text-align: center;
    }

    .blog-support-image {
        width: 100%; /* Ensure the image is fully responsive */
        height: auto;
        border-radius: 10px;
        transition: transform 0.5s ease-in-out;
    }

    .magnified {
        width: 100%; /* Ensure the magnified image is fully responsive */
        height: auto;
        border-radius: 10px;
        transform: scale(1.5); /* Magnify the image */
        transition: transform 0.5s ease-in-out;
    }

    .cursor-magnify {
        cursor: zoom-in; /* Circular magnify button */
    }

    .cursor-de-magnify {
        cursor: zoom-out; /* Circular de-magnify button */
    }

    figcaption {
        font-style: italic;
        padding: 2px;
        text-align: center;
    }

    .figure-caption {
        font-size: 0.9rem; /* Adjust caption size */
        color: #6c757d; /* Muted text color */
        text-align: center; /* Center align */
        margin-top: 8px; /* Space between image and caption */
        font-weight: 500; /* Slightly bold for readability */
    }

    .figure-caption strong {
        color: #343a40; /* Darker color for image number */
        font-weight: 600; /* Make image number bold */
    }
</style>

<div class="row image-header">
    <figure class="text-center">
        <img src="@ImagePath" class="img-fluid rounded mx-auto d-block my-3 border border-2 border-success @ImageClass @CursorClass" 
             alt="@Description" @onclick="ToggleMagnify">
        <figcaption class="figure-caption">
            <strong>Figure @(Number > 0 ? Number.ToString() : string.Empty) :</strong> @Description
        </figcaption>
    </figure>
</div>
