@inject IJSRuntime JSRuntime

<div class="container">
    <div class="row">
        <div class="col-12">
            <pre class="pre-scrollable rounded border border-2 p-1 px-4">
                <code class="language-@Language" style="font-size: 0.8rem;">@ChildContent</code>
            </pre>
        </div>
        @if (ShowDescription)
        {
            <div class="col-12 text-center">
                <code>@(Number > 0 ? $"Code Sample #{Number.ToString()} : " : string.Empty)@Description</code> 
            </div>
        }
    </div>
</div>
<br/>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string Language { get; set; } = "csharp"; // Default to C#
    [Parameter] public int Number { get; set; } = 0; // Default to C#
    [Parameter] public string Description { get; set; } = ""; // Default to C#
    [Parameter] public bool ShowDescription { get; set; } = true; // Default to C#

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("Prism.highlightAll");
        }
    }
}
