@using System.ComponentModel.DataAnnotations

@code {
    [Required][Parameter] public string Title { get; set; }
    [Required][Parameter] public string Image { get; set; }
    [Required][Parameter] public DateTime PublishedOn { get; set; }
    [Required][Parameter] public string Authors { get; set; }
    [Parameter] public string Description { get; set; } = "";
}

<style>
    .article-header {
        margin: 0 auto;
        /* Centers the div */
        text-align: center;
        padding: 20px 0;
    }

    .container-fluid,
    .row,
    .col-md-12,
    .col-6 {
        padding: 0 !important;
        margin: 0 !important;
    }

    .article-image {
        max-width: 500px !important;
        height: auto;
        border-radius: 10px;
    }
</style>

<header class="article-header">
    <div class="row">
        <div class="col-md-12">
            <h1 class="fw-bold">@Title</h1>
        </div>
        <div class="col-md-12">
            <img src="@Image" alt="Article Banner" height="200" width="auto"
                class="img-fluid rounded mx-auto d-block my-3" loading="lazy" />
        </div>
        <div class="col-md-12">
            <div class="container-fluid">
                <div class="row">
                    <!-- Author on the left -->
                    <div class="col-md-6 col-xs-12 d-flex justify-content-md-start justify-content-center">
                        <span class="text-secondary fw-bold">Author(s): </span>
                        <span class="text-secondary fw-bold ms-1">@Authors</span>
                    </div>

                    <!-- Published date on the right -->
                    <div class="col-md-6 col-xs-12 d-flex justify-content-md-end justify-content-center">
                        <span class="text-muted fw-bold">Last updated: @PublishedOn.ToString("dd MMM yyyy")</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
